extends ./main.pug

block content
    form#Article(action="/articles/upload", method="post" enctype="multipart/form-data")
        input#method(type="hidden" name="_method" value="POST")
        .form-group
            label.form-label Title
            input#title.form-control(type='text' name='title' aria-describedby='emailHelp')
            #emailHelp.form-text We&apos;ll never share your email with anyone else.
        .form-group
            label Image 
            input#image(type="file" name="image" required)
        .form-group
            label Content
            textarea#content.form-control(rows='3' name='content')
        button.btn.btn-primary(type='submit') Create
block scripts
    script(src='/js/article.js')